<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{%- assign title = page.title | default: "Beranda" -%}
	<title> {{ title }} &middot; {{site.title}}</title>
	<base href="/">
	<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon"/>

	<link rel="stylesheet" href="http://libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- jQuery -->
	<script src="http://libs/jquery/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap -->
	<script src="http://libs/popper.min.js"></script>
	<script src="http://libs/bootstrap/js/bootstrap.min.js"></script>
</head>